<doctype html>
    <html>
        <head>
            <title><%- title %></title>
        </head>
        <body>             
            <div>
                <span><%- recipe.Id %></span><br/>                    
                <a href="<%- recipe.url %>"><%- recipe.name %></a>
            </div>
        </body>
    </html>