<doctype html>
    <html>
        <head>
            <title>Using Embeded Javascript View Engine!</title>
        </head>
        <body>
            <h1>User Info</h1>
            <h1><%- Id %></h1>
            <h1><%- Name %></h1>
        </body>
    </html>