.Input{
    display:block;
    /* change the box  */
    width:100px;
    border:1px solid black;
    border-radius: 0.25px;
}
.small{
    height: 5px;
    font-size: 10px;
    /* padding-left: 100px; */
    /* padding:4px; */
}
.medium{
    height:10px;
    font-size:15px;
}
.large{
    height:15px;
    font-size: 18px;
}























/* 
.buttonsize{
    display:block;
    width: 400px;
    padding-left: 10px;
    padding-right: 1px;
    border-radius: 0.25px;
    border: 1px solid;
    border-color:inherit;
    background-color: white;
}
.small{
    height: 5rem;
    font-size: 0.875rem;
    padding-left: 50px;
    padding-right: 25px;
}
.medium{
    height: 10rem;
    font-size: 1rem;
}
.large{
    height: 15rem;
    font-size: 1.25rem;
} */