extend layout

block pagecontent 

    table.table.table-striped
        thead 
            tr 
                th Id 
                th Name 
                th
                th
                th
        tbody 
            each emp in empList
                tr
                    td=emp.id 
                    td=emp.name
                    td 
                        a.text-info(href="#") Details
                    td 
                        a.text-warning(href="#") Edit
                    td 
                        a.text-danger(href="#") Delete


//- html 
//-     head 
//-         title Employees Details Page
//-     body 
//-         h1 Employees Info
//-         table
//-             thead 
//-                 tr 
//-                     th Id 
//-                     th Name 
//-             tbody 
//-                 each emp in empList
//-                     tr
//-                         td=emp.id 
//-                         td=emp.name